.custom-btn {
    background-color: orangered !important;
    color: white !important;
}

.custom-outline-btn {
    color: orangered !important;
    background-color: transparent;
    border-color: orangered !important;
    transition: background-color 0.2s ease-in-out;
}

.custom-outline-btn:hover {
background-color: orangered !important;
    color: white !important;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.low-1{
    margin: 100%;
}

.card {
    padding: 20px;
}

@media only screen and (min-device-width: 500px) {
    [class*="low-"]{
        margin: 25%;
    }
}

.feature{
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media screen and (max-device-width: 700px) {
    .feature{
        background-size: auto auto;
    }
}

.left-img{
    height: 20%;
    padding: 10px;
}

@media screen and (width >= 768px) {
    .left-img{
        margin-left: 40%;
        max-width: 100%;
        height: 320px;
    }
}

@media screen and (width <= 767) {
    .left-img{
        max-width: 100%;
        height: auto;
    }
}

.intro{
    margin-top: 80px;
}

@media screen and (width >= 768px) {
    .intro{
        margin-top: 80px;
    }
}