.custom-btn {
    background-color: orangered !important;
    color: white !important;
}

.custom-outline-btn {
    color: orangered !important;
    background-color: transparent;
    border-color: orangered !important;
    transition: background-color 0.2s ease-in-out;
}

.custom-outline-btn:hover {
background-color: orangered !important;
    color: white !important;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.low-1{
    margin: 100%;
}

.feature{
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media screen and (max-device-width: 700px) {
    .feature{
        background-size: auto auto;
    }
}

@media only screen and (min-device-width: 500px) {
    [class*="low-"]{
        margin: 25%;
    }
}